<table align="center" border="1" cellpadding="5">
	<tr>
	<td width="20%" class="admin_menu0"><b>Channel</b></td>
	<td width="20%" class="admin_menu0"><b>Benutzerlimit</b></td>
	<td width="20%" class="admin_menu0"><b>Mindestrang</b></td>
	<td width="20%" class="admin_menu0"><b>moderiert</b></td>
	<td width="20%" class="admin_menu0"><b>versteckt</b></td>
	</tr>
	
	{channel_list}
	
</table>

<p align="center">
	<input type="button" value="Channel erstellen" onclick="document.location.href='?action=new_channel'" />&nbsp;
	<input type="button" value="Channel löschen" onclick="document.location.href='?action=del_channel'" />
</p>