<div align="center"><b>Channel editieren</b></div><br />
{output}

<form name="form" method="post" action="admin.php?action=edit_channel&amp;ChannelID={channel_id}">
<input type="hidden" name="ChannelID" value="{channel_id}" />

<table align="center" width="500" border="1" cellpadding="4">

<tr>
	<td class="admin_menu0" style="text-align:left">Channel Name</td>
	<td class="admin_menu0" style="text-align:left"><b>{channel}</b></td>
</tr>

<tr>
	<td class="admin_menu1" style="text-align:left">Benutzer Limit</td>
	<td class="admin_menu1" style="text-align:left"><input type="text" name="userlimit" size="5" maxlength="6" value="{userlimit}" /></td>
</tr>

<tr>
	<td class="admin_menu0" style="text-align:left">Schreibrechte</td>
	<td class="admin_menu0" style="text-align:left"><select name="moderiert">
			<option value="0"{unmoderated}>Nicht moderiert</option>
			<option value="1"{moderated}>moderiert</option>
		</select>
	</td>
</tr>

<tr>
	<td class="admin_menu1" style="text-align:left">Mindestrang</td>
	<td class="admin_menu1" style="text-align:left">
		<select name="minlevel">
		{ranks}
		</select>
	</td>
</tr>

<tr>
	<td class="admin_menu0" style="text-align:left">versteckt</td>
	<td class="admin_menu0" style="text-align:left">
		<select name="versteckt" disabled="disabled">
			<option value="0"{unhidden}>Nicht versteckt</option>
			<option value="1"{hidden}>versteckt</option>
		</select>
	</td>
</tr>

<tr>
	<td class="admin_menu1" style="text-align:left">Willkommensnachricht</td>
	<td class="admin_menu1" style="text-align:left"><input type="text" name="welcome" value="{welcome}" size="40" /></td>
</tr>

</table>

<p align="center"><input type="submit" name="update" value="&auml;ndern" /></p>
</form>