<div>
	<table border="1" align="center" width="99%">
		<tr>
			<td colspan="5" class="admin_menu-top"><b>Chat Administration</b></td>
		</tr>
		<tr>
			<td class="admin_menu0"><a href="?action=channel">Channel</a></td>
			<td class="admin_menu1"><a href="?action=user">Benutzer</a></td>
			<td class="admin_menu0"><a href="?action=chat">Chat</a></td>
			<td class="admin_menu1"><a href="?action=smileys">Smileys</a></td>
			<td class="admin_menu1"><a href="?action=update">Update</a></td>
		</tr>
		<tr>
		<td colspan="5"><br />

