<div align="center">
	<div style="color:#800000;">{output}</div><br />

	<form action="?action=user_edit&amp;id={user_id}" method="post">
	<input type="hidden" name="mode" value="save" />
	<table align="center" border="1" cellpadding="5" width="90%">
	
	<tr>
		<td colspan="2" class="whois-top"><b>Benutzerprofil von {username}</b></td>
	</tr>
	
	<tr>
		<td colspan="2" align="center"><input type="button" value="ohne zu Speichern zur Benutzerliste zur&uuml;ck" onclick="document.location.href='?action=user'" /></td>
	</tr>
	
	<tr>
		<td width="30%" class="admin_menu0" style="text-align:left;"><b>Benutzername</b></td>
		<td width="70%" class="admin_menu0" style="text-align:left;"><b>{username}</b></td>
	</tr>
	
	<tr>		
		<td width="30%" class="admin_menu1" style="text-align:left;"><b>Rang</b></td>
		<td width="70%" class="admin_menu1" style="text-align:left;">{rang}</td>
	</tr>
	
	<tr>		
		<td width="30%" class="admin_menu0" style="text-align:left;"><b>E-Mail *</b></td>
		<td width="70%" class="admin_menu0" style="text-align:left;"><input type="text" name="email" value="{email}" size="50" /></td>
	</tr>
	
	<tr>		
		<td width="30%" class="admin_menu1" style="text-align:left;"><b>Passwort ändern</b></td>
		<td width="70%" class="admin_menu1" style="text-align:left;"><input type="password" name="pass" size="25" /> <span style="font-size:11px;">zum Ändern ausfüllen</span></td>
	</tr>
	
	<tr>
		<td width="30%" class="admin_menu0" style="text-align:left;"><b>Geschlecht</b></td>
		<td width="70%" class="admin_menu0" style="text-align:left;"><img src="templates/{template_name}/img/{gender}" alt="gender" /></td>
	</tr>
	
	<tr>
		<td width="30%" class="admin_menu1" style="text-align:left;"><b>Registriert am</b></td>
		<td width="70%" class="admin_menu1" style="text-align:left;">{reg_date}</td>
	</tr>
	
	<tr>
		<td width="30%" class="admin_menu0" style="text-align:left;"><b>Letzte Anmeldung</b></td>
		<td width="70%" class="admin_menu0" style="text-align:left;">{last_login}</td>
	</tr>
	
	<tr>
		<td width="30%" class="admin_menu1" style="text-align:left;"><b>Client Info</b></td>
		<td width="70%" class="admin_menu1" style="text-align:left;"><span style="font-size:11px;">{client}<br />IP: {ipaddress} ({hostname})</span></td>
	</tr>
	
	<tr>
		<td width="30%" class="admin_menu0" style="text-align:left;"><b>Zeichen</b></td>
		<td width="70%" class="admin_menu0" style="text-align:left;">{charcount}</td>
	</tr>
	
	<tr>
		<td width="30%" class="admin_menu1" style="text-align:left;"><b>Chatzeit</b></td>
		<td width="70%" class="admin_menu1" style="text-align:left;"><span style="font-size:11px;">{chat_time}</span></td>
	</tr>	
	
	<tr>
		<td width="30%" class="admin_menu0" style="text-align:left;"><b>Benutzer löschen</b></td>
		<td width="70%" class="admin_menu0" style="text-align:left;"><input type="button" value="ausf&uuml;hren" onclick="var ok=confirm('Benutzer wirklich unwiderruflich löschen? Es werden alle Beiträge und Benutzerdaten entfernt.'); if(ok==true){document.location.href='?action=user_edit&amp;mode=delete&amp;id={user_id}';}" /> <span style="font-size:11px;">Hat keine Wirkung bei Administratoren!</span></td>
	</tr>
	
	<tr>
		<td width="30%" class="admin_menu1" style="text-align:left;"><b>Status</b></td>
		<td width="70%" class="admin_menu1" style="text-align:left;">{status}</td>
	</tr>
	
	<tr>
		<td colspan="2" align="center"><input type="submit" value="Änderungen speichern und zur Benutzerliste zur&uuml;ck " /></td>
	</tr>	
	
	</table>
	</form>

</div>
<br />

