<div id="rightLayer">	
	<!-- Online Userlist -->	
	<div id="online">
		{online}
	</div>
		
	<br />	
	
	<!-- Chatinfo Layer -->	
	<table align="center" width="100%">
	<tr>
		<td class="whois-top" style="text-align:center;"><b>Chatinfo</b></td>
	</tr>
	<tr>
		<td class="whois-td0"><img src="templates/{template_name}/img/item.png" alt="item" /> <span><a href="javascript:whoisonline();">Wer ist online?</a></span></td>
	</tr>
	
	<tr>
		<td class="whois-td1"><img src="templates/{template_name}/img/item.png" alt="item" /> <span><a href="javascript:userlist();">Benutzerliste</a></span></td>
	</tr>
		
	<tr>
		<td class="whois-td0"><img src="templates/{template_name}/img/item.png" alt="item" /> <span><a href="javascript:top10();">Top 10</a></span></td>
	</tr>	
	</table>
</div>
