<p align="center"><b>Chathilfe</b><br />{overall_title}</p>

<table align="center" width="90%">
<tr>
	<td class="whois-top"><b>Chathilfe Inhalt</b></td>
</tr>
<tr>
	<td class="whois-td0">1 <b>Benutzer-Ränge</b></td>
</tr>
<tr>
	<td class="whois-td1">2 <b>Channel</b></td>
</tr>
<tr>
	<td class="whois-td0">3 <b>Chat-Kommandos</b></td>
</tr>
<tr>
	<td class="whois-td1">4 <b>Admin-Kommandos</b></td>
</tr>
</table>

<br />
<br />

<!-- Benutzer-Ränge -->
<table align="center" width="90%">
<tr>
	<td class="whois-top" colspan="2">1 <b>Benutzer-Ränge</b></td>
</tr>
<tr>
	<td class="whois-td0" colspan="2">Es gibt im Chat fünf verschiedene Benutzer-Ränge, die zu bestimmten Rechten bemächtigen.</td>
</tr>
<tr>
	<td class="whois-td1" width="30%">Benutzer</td>
	<td class="whois-td1" width="70%">Ganz unten steht der Standard-Benutzer ohne besondere Rechte. Er kann in nicht-moderierten Channels schreiben und alle unter 3 aufgelisteten Chat-Kommandos ausführen.</td>
</tr>
<tr>
	<td class="whois-td0" width="30%">Voice (+)</td>
	<td class="whois-td0" width="70%">Der sogenannte "Voice-Status" ist temporär und nur für den Channel gültig, indem er verliehen wurde. Er verleiht das Recht, in einem moderierten Channel zu schreiben. Einen Benutzer mit diesem Status erkennt man an dem Plus-Symbol vor dem Namen.</td>
</tr>
<tr>
	<td class="whois-td1" width="30%">Channel-Operator (@)</td>
	<td class="whois-td1" width="70%">Der Channel-Operator Status wird temporär vergeben und hält, wie der Voice-Status nur solange, bis der Channel verlassen wurde. Er ist ein Benutzer, hat aber zusätzlich ein paar Operator-Rechte und kann durch das At-Symbol vor dem Namen erkannt werden.</td>
</tr>
<tr>
	<td class="whois-td0" width="30%">Operator (@)</td>
	<td class="whois-td0" width="70%">Der Operator ist permanenter Wächter über den gesamten Chat. Er trägt im Gegensatz zum Channel-Operator auch im Profil den Rang "Operator" mit sich.</td>
</tr>
<tr>
	<td class="whois-td1" width="30%">Administrator ($)</td>
	<td class="whois-td1" width="70%">Der Administrator ist in den meisten Fällen der Chat-Betreiber oder jemand, der die volle Kontrolle darüber besitzt. Er kann sämtliche Befehle ausführen und ist unverwundbar gegen Operatorbefehle. Er kann auch als einziger permanente Operatoren ernennen und kann am Dollar-Symbol vor dem Namen erkannt werden.</td>
</tr>
</table>

<br />
<br />

<!-- Channel -->
<table align="center" width="90%">
<tr>
	<td class="whois-top" colspan="2">2 <b>Channel</b></td>
</tr>
<tr>
	<td class="whois-td0" colspan="2">Entsprechend den Benutzer-Rängen gibt es sogenannte "Channel-Flags", die bestimmte Benutzerrechte erfordern können.</td>
</tr>
<tr>
	<td class="whois-td1" width="30%">Moderated/Moderiert (+)</td>
	<td class="whois-td1" width="70%">In einem moderierten Channel können nur Benutzer mit mindestens Voice-Status schreiben. Man erkennt diesen Channel an einem Plus-Symbol vor dem Namen.</td>
</tr>
<tr>
	<td class="whois-td0" width="30%">Hidden/Versteckt (.)</td>
	<td class="whois-td0" width="70%">Ein versteckter Channel taucht in der Channel-Liste nicht auf, selbst wenn er existiert. Meistens handelt es sich hierbei um ein Separée und wird durch das Punkt-Symbol vor dem Namen erkannt.</td>
</tr>
<tr>
	<td class="whois-td1" width="30%">Maximum (x/y)</td>
	<td class="whois-td1" width="70%">Der Operator oder Administrator kann festlegen, dass ein Channel nur eine maximale Anzahl an Benutzern fasst. Dies wird durch die Zahlen in Klammern hinter dem Channel-Namen gekennzeichnet. Wenn es kein maximum gibt, steht dort nur die Anzahl der Benutzer im Channel.</td>
</tr>
</table>

<br />
<br />

<!-- Chat-Kommandos -->
<table align="center" width="90%">
<tr>
<td colspan="2" class="whois-top">3 <b>Chat-Kommandos:</b></td>
</tr>

<tr>
	<td class="whois-td0" colspan="2">Chat-Kommandos werden wie ganz normaler Text eingegeben und abgeschickt. Jeder Befehl startet immer mit einem Schrägstrich.</td>
</tr>

<tr>
<td width="30%" class="whois-td1">/w Name Text</td>
<td width="70%" class="whois-td1">Flüstert einem Chatter einen Text zu.</td>
</tr>

<tr>
<td width="30%" class="whois-td1">/join Channel</td>
<td width="70%" class="whois-td1">Betritt einen Chat-Channel (z.B. Geheim1234).</td>
</tr>

<tr>
<td width="30%" class="whois-td1">/sep Channel</td>
<td width="70%" class="whois-td1">Öffnet und betritt einen temporären, versteckten Chat-Channel (z.B. Geheim1234). Sobald dieser Channel leer ist, wird er gelöscht.</td>
</tr>

<tr>
<td width="30%" class="whois-td0">/inv Name</td>
<td width="70%" class="whois-td0">Läd einen Benutzer in den Channel ein.</td>
</tr>

<tr>
<td width="30%" class="whois-td1">/away {Grund}</td>
<td width="70%" class="whois-td1">Versetzt den Benutzer in den "Away-Modus" und hinterlässt {<u>optional</u>} einen Grund. Durch erneute Eingabe (/away) wird der Modus aufgehoben.</td>
</tr>

<tr>
<td width="30%" class="whois-td0">/quit</td>
<td width="70%" class="whois-td0">Verlässt den Chat.</td>
</tr>

</table>

<br />
<br />

<table align="center" width="90%">
<tr>
<td colspan="2" class="whois-top">4 <b>Admin-Kommandos:</b></td>
</tr>

<tr>
	<td class="whois-td0" colspan="2">Admin-Kommandos können von Benutzern mit bestimmten Rängen ausgeführt werden. Sie werden genau wie Chat-Kommandos benutzt.</td>
</tr>

<tr>
<td colspan="2" class="whois-top">@ <b>Channel Operator</b></td>
</tr>

<tr>
<td width="30%" class="whois-td0">/v Name</td>
<td width="70%" class="whois-td0">Der Benutzer erhält <u>für diesen</u> Channel den "Voice" Status und steigt somit einen Rang auf. Benutzer mit diesem Status können in moderierten Channels schreiben. Der Status wird verloren, sobald der Channel verlassen wird.</td>
</tr>

<tr>
<td width="30%" class="whois-td1">/uv Name</td>
<td width="70%" class="whois-td1">Der Benutzer verliert seinen "Voice" Status und steigt somit einen Rang ab.</td>
</tr>

<tr>
<td width="30%" class="whois-td0">/kick Name {Grund}</td>
<td width="70%" class="whois-td0">Schmeißt einen Benutzer aus dem Chat. Er kann danach erneut einloggen.</td>
</tr>

<tr>
<td colspan="2" class="whois-top">@ <b>Operator</b> (kann sämtliche Channel-Operator Befehle ausführen)</td>
</tr>

<tr>
<td width="30%" class="whois-td0">/s Name {Zeit}</td>
<td width="70%" class="whois-td0">Verbietet einem Benutzer für eine bestimmte Zeit zu schreiben oder hebt das Verbot auf.</td>
</tr>

<tr>
<td width="30%" class="whois-td1">/mod</td>
<td width="70%" class="whois-td1">Stellt die Schreibrechte <u>dieses Channels</u> auf "moderiert" bzw. "nicht moderiert".</td>
</tr>

<tr>
<td width="30%" class="whois-td0">/hidden</td>
<td width="70%" class="whois-td0">Versteckt oder zeigt <u>diesen Channel</u> wieder in der Channel Liste.</td>
</tr>

<tr>
<td width="30%" class="whois-td1">/limit Zahl</td>
<td width="70%" class="whois-td1">Stellt das Benutzerlimit <u>dieses Channels</u> auf "Zahl" ein.</td>
</tr>

<tr>
<td width="30%" class="whois-td0">/chanop Name</td>
<td width="70%" class="whois-td0">Der Benutzer "Name" erhält einen temporären "Operator" Status <u>für diesen</u> Channel, steigt somit im Rang auf und erhält alle Channel-Operator Rechte.</td>
</tr>

<tr>
<td width="30%" class="whois-td1">/dechanop Name</td>
<td width="70%" class="whois-td1">Der Benutzer "Name" verliert den temporären "Operator" Status.</td>
</tr>

<tr>
<td width="30%" class="whois-td0">/ban Name {Grund}</td>
<td width="70%" class="whois-td0">Verbannt einen Benutzer aus dem Chat. Er kann danach nicht mehr einloggen.</td>
</tr>


<tr>
<td colspan="2" class="whois-top">$ <b>Administrator</b> (kann sämtliche Operator Befehle ausführen)</td>
</tr>

<tr>
<td width="30%" class="whois-td0">/bc Text</td>
<td width="70%" class="whois-td0">Schreibt einen Broadcast an alle Benutzer im Chat (Channelübergreifend).</td>
</tr>

<tr>
<td width="30%" class="whois-td1">/op Name</td>
<td width="70%" class="whois-td1">Der Benutzer erhält den globalen "Operator" Status, steigt somit im Rang auf und erhält alle Operator Rechte.</td>
</tr>

<tr>
<td width="30%" class="whois-td0">/deop Name</td>
<td width="70%" class="whois-td0">Der Benutzer verliert den globalen "Operator" Status.</td>
</tr>

<tr>
<td width="30%" class="whois-td1">/unban Name</td>
<td width="70%" class="whois-td1">Entbannt einen Benutzer. Er kann danach wieder einloggen.</td>
</tr>

</table>
<br />
<p align="center"><input type="button" value="schlie&szlig;en" onclick="top.close();" /></p>