<div id="index">
	<table style="border-collapse:separate;" align="center">
	<tr>
		<td id="login-form">
			<form name="login" action="system/login.php" method="post">
			
			<p align="center"><b>{overall_title}</b></p>
			
			<table align="center" style="border-collapse: collapse" width="24%">
			    <tr>
			      <td width="50%">Name:</td>
			      <td width="50%"><input type="text" id="name" name="name" size="20" maxlength="20" value="{GET.user}" disabled="disabled" /></td>
			    </tr>
			    <tr>
			      <td width="50%">Passwort:</td>
			      <td width="50%"><input type="password" id="securepass" name="securepass" size="20" maxlength="20" disabled="disabled" /></td>
			    </tr>
			    <tr>
			    	<td colspan="2" align="right"><span style="font-size:11px;"><a href="?site=reminder">Passwort vergessen?</a></span></td>
			    </tr>

			    <tr>
			      <td width="50%">&nbsp;</td>
			      <td width="50%">&nbsp;</td>
			    </tr>
			
			    <tr>
			      <td width="50%">Channel:</td>
			      <td width="50%"><select id="startchannel" name="startchannel" disabled="disabled">{channel_list}</select></td>
			    </tr>
			  </table>
			
			<p align="center"><input type="submit" id="submit" value="und los &#0187;" onclick="$('index').fade('out');" disabled="disabled" /></p>
			
			</form>			
			<p align="center">Noch kein Mitglied? Dann <b><a href="?site=register">hier anmelden</a></b>!</p>
		</td>
		<td id="channel-list" rowspan="2">{Channel}</td>
	</tr>
	
	<tr>
		<td id="news-display">
			<div style="font-weight: bold; font-size: 14px;">Willkommen beim "{overall_title}" Chat!</div><br />
			<div>Wenn du hier neu bist, kannst du dich kostenlos registrieren. Wenn du bereits registriert bist, kannst du dich oben anmelden und direkt mit dem Chatten loslegen.</div><br />
			<div><b>Die Chatiquette</b><br />Überall dort, wo Menschen aufeinander treffen, sind bestimmte Regeln erforderlich, um miteinander gut auszukommen. In Chats treffen sich Menschen mit unterschiedlichsten Ansichten und Eigenschaften. Damit auch die Chatter gut miteinander auskommen, gibt es die "chatiquette" (Quelle: <a href="http://www.chatiquette.de" target="_blank">http://www.chatiquette.de</a>). Das ist die Etikette der Chatter im Internet. Sie beinhaltet Hinweise, wie man sich selbst verhalten soll und was man von anderen im Chat erwarten kann. </div>
		</td>
	</tr>
	
	<tr>
		<td id="index-foot" colspan="2">
			<div>
				Powered by <b>SHChat</b>&copy; Professional Chatsoftware<br />
				&copy;2006-2013 by <a href="http://www.shchat.net" target="_blank">SHChat.net</a> &amp; <a href="http://www.scripthosting.net" target="_blank">Scripthosting.net</a>
			</div>
		</td>
	</tr>	
	</table>
</div>

<div id="window-javascript">
	<div style="text-align:justify;">
		<img src="templates/{template_name}/img/s_error.png" alt="Wichtig" /> <b>Fehler:</b> In Ihrem Browser ist JavaScript deaktiviert. Der Chat ist somit nicht funktionsfähig.<br />Bitte aktivieren Sie JavaScript und versuchen es erneut.
	</div>
</div>

<script type="text/javascript">
	document.getElementById("name").disabled=false;
	document.getElementById("securepass").disabled=false;
	document.getElementById("startchannel").disabled=false;
	document.getElementById("submit").disabled=false; 
	document.getElementById("window-javascript").style.visibility='hidden'; 
</script>