<div id="post">
	<form onsubmit="return(SendData());" action="">
	
	<table width="100%">
	<tr>
		<td>
			<input type="text" id="text" name="text" maxlength="255" style="width:60%;" autocomplete="off" /> <select style="background-color:#EFEFEF;" id="farbe" name="farbe" onchange="javascript:document.getElementById('text').value='/color '+this.value; SendData();">{colors}</select>
			<!-- <input type="submit" name="senden" value="senden" onclick="SendData();document.getElementById('text').focus();" /> -->
		</td>
		<td align="right">
			<span><input type="checkbox" name="autoscroll" id="autoscroll" onclick="javascript:document.getElementById('text').value='/autoscroll';SendData();" {autoscroll_checked}/>Autoscroll</span>
		</td>
	</tr>

	<tr>
		<td colspan="2">
			{smileys}
		</td>
	</tr>
	
	<tr>
		<td colspan="2" align="right">
			<a href="javascript:profil();">Profil</a>&nbsp;&nbsp;&nbsp;{admin_panel}<a href="javascript:smileys(1);">Smileys</a>&nbsp;&nbsp;&nbsp;<a href="javascript:help();"><b>Hilfe</b></a>&nbsp;&nbsp;&nbsp;<a href="javascript:logout();">verlassen</a>
		</td>
	</tr>
	
	</table>
	</form>
</div>

