<form action="" method="post">
<table align="center" id="whois-table" style="font-size:11px;">	
	<tr>
		<td id="whois-top" colspan="2" width="100%"><b>Dein Profil</b></td>
	</tr>
	
	<tr>
		<td class="whois-td0" width="50%"><b>Nickname:</b></td>
		<td class="whois-td0" width="50%">{username}</td>
	</tr>
	
	<tr>
		<td class="whois-td1" width="50%"><b>E-Mail Adresse*:</b></td>
		<td class="whois-td1" width="50%"><input type="text" name="email" value="{email}" size="30" /></td>
	</tr>
	
	<tr>
		<td class="whois-td0" width="50%"><b>Aktuelles Passwort*:</b></td>
		<td class="whois-td0" width="50%"><input type="password" name="pass" size="30" /></td>
	</tr>
	
	<tr>
		<td class="whois-td0" width="50%"><b>Passwort ändern:</b></td>
		<td class="whois-td0" width="50%"><input type="password" name="pass0" size="30" /></td>
	</tr>
	
	<tr>
		<td class="whois-td1" width="50%"><b>Passwort wiederholen:</b></td>
		<td class="whois-td1" width="50%"><input type="password" name="pass1" size="30" /></td>
	</tr>
	
	<tr>
		<td id="whois-top" colspan="2" width="100%"><b>Freiwillige Angaben</b></td>
	</tr>
			
	<tr>
		<td class="whois-td0"><b>Geschlecht:</b></td>
		<td class="whois-td0"><input type="radio" name="gender" value="m" {m_checked}/><img src="templates/{template_name}/img/male.gif" alt="male" /> männlich
		<input type="radio" name="gender" value="f" {f_checked}/><img src="templates/{template_name}/img/female.gif" alt="female" /> weiblich</td>
	</tr>
	
	<tr>
		<td class="whois-td1" width="50%"><b>Echter Name:</b></td>
		<td class="whois-td1" width="50%"><input type="text" name="myName" value="{myName}" size="30" /></td>
	</tr>
	
	<tr>
		<td class="whois-td0" width="50%"><b>Stadt:</b></td>
		<td class="whois-td0" width="50%"><input type="text" name="myCity" value="{myCity}" size="30" /></td>
	</tr>
	
	<tr>
		<td class="whois-td1" width="50%"><b>Geburtsdatum:</b></td>
		<td class="whois-td1" width="50%"><input type="text" name="myBirthdate" value="{myBirthdate}" size="30" /></td>
	</tr>
	
	<tr>
		<td class="whois-td0" width="50%"><b>Über mich:</b></td>
		<td class="whois-td0" width="50%"><input type="text" name="aboutMe" value="{aboutMe}" size="30" /></td>
	</tr>
</table>
<br />

<div align="center"><input type="submit" name="action" value="speichern" /> | <input type="button" value="schlie&szlig;en" onclick="top.close();" /></div>
</form>