<div id="register">
	<form name="register" method="post" action="index.php?site=register">
	
	<table align="center" id="whois-table">
	    <tr>
		      <td id="whois-top" colspan="2"><b>{overall_title}</b></td>
	    </tr>
	    <tr>
		      <td class="whois-td0">Nickname:</td>
		      <td class="whois-td0"><input type="text" name="name" size="20" maxlength="16" value="{POST.name}" /> <span style="font-size:11px; color:red;">{f_name}</span></td>
	    </tr>
	    <tr>
		      <td class="whois-td1">Passwort:</td>
		      <td class="whois-td1"><input type="password" name="securepass" size="20" maxlength="16" /> <span style="font-size:11px; color:red;">{f_securepass}</span></td>
	    </tr>
	    <tr>
		      <td class="whois-td0">Passwort wiederholen:</td>
		      <td class="whois-td0"><input type="password" name="resecurepass" size="20" maxlength="16" /> <span style="font-size:11px; color:red;">{f_securepass2}</span></td>
	    </tr>
	     <tr>
		      <td class="whois-td1">E-Mail Adresse*:</td>
		      <td class="whois-td1"><input type="text" name="email" size="20" maxlength="50" value="{POST.email}" /> <span style="font-size:11px; color:red;">{f_email}</span></td>
	    </tr>
	    <tr>
		      <td class="whois-td0">Geschlecht:</td>
		      <td class="whois-td0"><input type="radio" name="gender" value="m" {m_checked}/><img src="templates/{template_name}/img/male.gif" alt="male" /> 
		      <input type="radio" name="gender" value="f" {f_checked}/><img src="templates/{template_name}/img/female.gif" alt="female" /> <span style="font-size:11px; color:red;">{f_gender}</span></td>
	    </tr>
	    <tr>
		      <td class="whois-td1">Sicherheitscode:</td>
		      <td class="whois-td1"><input type="text" name="code" size="6" maxlength="5" /> <img src="system/captcha.php" alt="code" /> <span style="font-size:11px; color:red;">{f_code}</span></td>
	    </tr>
	    <tr>
		      <td colspan="2">&nbsp;</td>
	    </tr>
	    <tr>
		      <td class="whois-td0" colspan="2"><span style="font-size:11px;">Daten mit einem * werden <u>nicht</u> öffentlich angezeigt!<br /><br /><b>Nach Abschluss der Registrierung erhälst du eine E-Mail, über die das Konto aktiviert werden muss.</b></span></td>
	    </tr>
	   </table>
	
	<p align="center"><input type="submit" name="register" value="Registrierung abschlie&szlig;en" /></p>
	
	</form>
	
	<p align="center"><b><a href="index.php">Abbruch / Zur&uuml;ck zum Login</a></b></p>
</div>