<div id="reminder">
	<div align="center" style="color:#800000;">{output}</div><br />
	
	<form name="register" method="post" action="index.php?site=reminder&amp;mode=check">
	
	<table align="center" id="whois-table">
	    <tr>
		      <td id="whois-top" colspan="2"><b>Passwort vergessen</b></td>
	    </tr>
	    <tr>
		      <td class="whois-td1" colspan="2">Wenn du dein Passwort vergessen hast, kannst du hier unter Angabe deiner E-Mail Adresse und dem Benutzernamen ein neues Passwort anfordern.</td>
	    </tr>
	    <tr>
		      <td class="whois-td0">Nickname:</td>
		      <td class="whois-td0"><input type="text" name="username" size="20" maxlength="16" /></td>
	    </tr>
	    <tr>
		      <td class="whois-td1">E-Mail Adresse:</td>
		      <td class="whois-td1"><input type="email" name="email" size="30" /></td>
	    </tr>
	    
	   <tr>
		      <td class="whois-td0">Sicherheitscode:</td>
		      <td class="whois-td0"><input type="text" name="code" size="6" maxlength="5" /> <img src="system/captcha.php" alt="code" /></td>
	    </tr>
	   </table>
	
	<p align="center"><input type="submit" name="register" value="Neues Passwort zusenden" /></p>
	
	</form>
	
	<p align="center"><b><a href="index.php">Abbruch / Zur&uuml;ck zum Login</a></b></p>
</div>