<table align="center" id="whois-table">
	<tr>
		<td colspan="5" class="whois-top" style="text-align:center;"><b>Top10 - Chatzeit</b></td>
	</tr>
	
	<tr>
		<td class="whois-td0"><b>Nickname</b></td>
		<td class="whois-td0"><b>Registriert seit</b></td>
		<td class="whois-td0"><b>Chatzeit</b></td>
		<td class="whois-td0"><b>Rang</b></td>
		<td class="whois-td0"><b>Status</b></td>
	</tr>
	
	{member_list1}
</table>

<br />

<table align="center" class="whois-table">
	<tr>
		<td colspan="5" class="whois-top" style="text-align:center;"><b>Top10 - Geschriebene Zeichen</b></td>
	</tr>
	
	<tr>
		<td class="whois-td0"><b>Nickname</b></td>
		<td class="whois-td0"><b>Registriert seit</b></td>
		<td class="whois-td0"><b>Zeichen</b></td>
		<td class="whois-td0"><b>Rang</b></td>
		<td class="whois-td0"><b>Status</b></td>
	</tr>
	
	{member_list2}
</table>

<p align="center"><input type="button" value="schlie&szlig;en" onclick="javascript:top.close();" /></p>