<table align="center" id="whois-table">
	<tr>
		<td colspan="5" id="whois-top"><b>Mitgliederliste</b></td>
	</tr>
	
	<tr>
		<td class="whois-td0"><b>Nickname</b></td>
		<td class="whois-td0"><b>Registriert seit</b></td>
		<td class="whois-td0"><b>Geschriebene Zeichen</b></td>
		<td class="whois-td0"><b>Rang</b></td>
		<td class="whois-td0"><b>Status</b></td>
	</tr>
	
	{member_list}
</table>

<p align="center"><input type="button" value="schlie&szlig;en" onclick="javascript:top.close();" /></p>