<table align="center" id="whois-table">	
	<tr>
		<td id="whois-top" colspan="2" width="100%"><b>Whois Abfrage für "{username}"</b></td>
	</tr>
	
	<tr>
		<td class="whois-td0" width="50%"><b>Nickname:</b></td>
		<td class="whois-td0" width="50%">{username}</td>
	</tr>
	
	<tr>
		<td class="whois-td1" width="50%"><b>Registriert seit:</b></td>
		<td class="whois-td1" width="50%">{reg_date}</td>
	</tr>
	
	<tr>
		<td class="whois-td0" width="50%"><b>Echter Name:</b></td>
		<td class="whois-td0" width="50%">{myName}</td>
	</tr>
	
	<tr>
		<td class="whois-td1" width="50%"><b>Wohnort:</b></td>
		<td class="whois-td1" width="50%">{myCity}</td>
	</tr>
	
	<tr>
		<td class="whois-td0" width="50%"><b>Alter:</b></td>
		<td class="whois-td0" width="50%">{myAge}</td>
	</tr>
	
	<tr>
		<td class="whois-td1" width="50%"><b>Über mich:</b></td>
		<td class="whois-td1" width="50%">{aboutMe}</td>
	</tr>
	
	<tr>
		<td class="whois-td0" width="50%"><b>Geschriebene Zeichen:</b></td>
		<td class="whois-td0" width="50%">{charcount}</td>
	</tr>
	
	<tr>
		<td class="whois-td1" width="50%"><b>Chatzeit:</b></td>
		<td class="whois-td1" width="50%">{chat_time}</td>
	</tr>
	
	<tr>
		<td class="whois-td0" width="50%"><b>Rang:</b></td>
		<td class="whois-td0" width="50%">{rang}</td>
	</tr>
	
	<tr>
		<td class="whois-td1" width="50%"><b>Status:</b></td>
		<td class="whois-td1" width="50%">{status}</td>
	</tr>	
	{away_msg}
</table>

<p align="center"><input type="button" value="schlie&szlig;en" onclick="top.close();" /></p>