body {
	/*background-image: url(../img/background.png);*/
}
.welcome {
	margin: 0px 0px 20px 0px ;
}
.newsetPosts {
	margin-top: 60px;
}
.glyphicon-github:before {
	content: url(../img/icons/git.png);
	background-color: transparent;
}
.editor_frame {
    width: 50%;
}